html{
    scroll-behavior: smooth;
}
header{
    background-color: rgb(36, 31, 31);
}

.navbarLogo{
    width: 200px;
}
/* button white color */
.navbar-toggler{
    color: white;
    width: 25px;
    padding: 0px;
}
.navbarButton{
    width: 40px;
}
.bi-list, .bi-x{
    font-size: 30px;
    width: 30px;
    height: 30px;
}
.nav-link,.nav-link:any-link, .nav-link:hover{
    color: white;
    text-decoration: none;
    cursor: pointer;
}
.contactBtn{
    color: white;
}
/* hero section */
.heroSection{
    background-color: black;
    color: whitesmoke;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 73% 94%, 0 100%);
}
.photoHero{
    width: auto;
    height: auto;
    max-width: 70%;
    max-height: 70%; 
}
.name, .devSpan{
    color: #1BFD9C;
}
.downloadCV{
    width: 230px;
}
.downloadCV, .contactBtn{
    --green: #1BFD9C;
    font-size: 15px;
    padding: 0.7em 2.7em;
    letter-spacing: 0.06em;
    position: relative;
    font-family: inherit;
    border-radius: 0.6em;
    overflow: hidden;
    transition: all 0.3s;
    line-height: 1.4em;
    border: 2px solid var(--green);
    background: linear-gradient(to right, rgba(27, 253, 156, 0.1) 1%, transparent 40%,transparent 60% , rgba(27, 253, 156, 0.1) 100%);
    color: var(--green);
    box-shadow: inset 0 0 10px rgba(27, 253, 156, 0.4), 0 0 9px 3px rgba(27, 253, 156, 0.1);  
}
.downloadCV:hover, .contactBtn:hover{
    color: #82ffc9;
  box-shadow: inset 0 0 10px rgba(27, 253, 156, 0.6), 0 0 9px 3px rgba(27, 253, 156, 0.2);
}
.downloadCV::before, .contactBtn::before{
    content: "";
    position: absolute;
    left: -4rem;
    width: 4rem;
    height: 100%;
    top: 0;
    transition: transform .4s ease-in-out;
    background: linear-gradient(to right, transparent 1%, rgba(27, 253, 156, 0.1) 40%,rgba(27, 253, 156, 0.1)60%, transparent 100%);
}
.downloadCV:hover::before, .contactBtn:hover::before{
    transform: translate(15rem);
}

.aboutmeImg{
    width: 100%;
    height: auto;
}
.stackSection{
    background-color: black;
    color: white;
}

.stackimg{
    width: 12rem;
    height: auto;

}
.github{
    background-color: gray;
    border-radius: 50%;
}

.projectHeadings >a{
    text-decoration: underline solid black 2px;
    color: black;
    
}

.projectimg{
    width: 100%;
    height: auto;
}
.herokuimg{
    background-color: white;
    border-radius: 0;
    height: 12rem;
    width: 20rem;
    border-radius: 10px;
}
.formDiv{
    width: 85%;
    max-width: 950px;
    padding: 20px;
    border-radius: 21px;
    background: #606c88;
    background: -webkit-linear-gradient(to right, #3f4c6b, #606c88);
    background: linear-gradient(to right, #3f4c6b, #606c88);
    border: 2px solid transparent;
}

textarea{
    height: 140px;
}
.contactForm input, .contactForm textarea{
    border: none;
    border-radius: 5px;
}
.contactForm input:focus, .contactForm textarea:focus{
    outline: none;
    box-shadow: 0 0 5px #ff6384;
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;

}
.form-check-input:checked{
    background-color: #ff6384;
}
.gdprBtnForm{
    color: white;
    border: none;
    padding-left: 3px;
    text-decoration: underline 1px black solid;
}
.btn_form_submit{
    background-color: #ff6384;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
}
.btn_form_submit:hover{
    color: #fff;
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}


.email{
    color: red;
}

footer{
    background-color: rgb(36, 31, 31);
    color: white;
}
.socSitesDiv{
    width: 130px;
}
.socSitesA:any-link, .socSitesA:hover{
    color: white;
    text-decoration: none;
    cursor: pointer;
}

#scrollToTopBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    cursor: pointer;
    width: 40px;
    height: 40px;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 20px;

}

#scrollToTopBtn.show {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width:426px) {
    .contactBtn{
        width: 130px;
    }
    .downloadCV{
        display: flex;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
        width: 85%;
    }

    .stackimg{
        width: 7rem;
        height: 7rem;
    }
    
    .herokuimg{
        height: 7rem;
        width: 15rem;
    }
}

@media only screen and (min-width:427px) and (max-width: 576px){

    .contactBtn{
        width: 130px;
    }

    .downloadCV{
        display: flex;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
        width: 85%;
    }

    .stackimg{
        width: 7rem;
        height: 7rem;
    }
    
    .herokuimg{
        height: 7rem;
        width: auto;
    }
}
@media only screen and (min-width:577px) and (max-width: 766px){
    .contactBtn{
        width: 130px;
    }
    .cvCol{
        display: flex;
        justify-content: space-evenly;
    }

    .herokuimg{
        height: 12rem;
        width: 17rem;
    }
}

@media only screen and (min-width:767px) and (max-width: 991px){
    .herokuimg{
        height: 12rem;
        width: 17rem;
    }
}
@media only screen and (min-width:1200px){
    h1{
        font-size: 3rem;
    }
    h2{
        font-size: 2.75rem
    }
    h3{
        font-size: 2.5rem;
    }

    h4{
        font-size: 2.25rem;
    }
    h5{
        font-size: 2rem;
    }
    p{
        font-size:larger;
    }
    .stackimg{
        height: 20rem;
        width: 20rem;
    }
    .herokuimg{
        width: 28rem;
        border-radius: 1.5rem;
    }
}