*{
    scroll-behavior: smooth;
}
header{
    background-color: rgb(36, 31, 31);
}
.navbarLogo{
    width: 200px;
}
/* button white color */
.navbar-toggler{
    color: white;
    width: 25px;
    padding: 0px;
}
.navbarButton{
    width: 40px;
}
.bi-list, .bi-x{
    font-size: 30px;
    width: 30px;
    height: 30px;
}
.nav-link,.nav-link:active, .nav-link:visited{
    color: white;
    text-decoration: none;
}
.contactBtn{
    color: white;
}
/* hero section */
.heroSection{
    background-color: black;
    color: whitesmoke;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 73% 94%, 0 100%);
}
.photoHero{
    width: auto;
    height: auto;
    max-width: 70%;
    max-height: 70%; 
}
.name, .devSpan{
    color: #289272;
}
.downloadCV{
    width: 230px;
}
.downloadCV, .contactBtn{
    --green: #1BFD9C;
    font-size: 15px;
    padding: 0.7em 2.7em;
    letter-spacing: 0.06em;
    position: relative;
    font-family: inherit;
    border-radius: 0.6em;
    overflow: hidden;
    transition: all 0.3s;
    line-height: 1.4em;
    border: 2px solid var(--green);
    background: linear-gradient(to right, rgba(27, 253, 156, 0.1) 1%, transparent 40%,transparent 60% , rgba(27, 253, 156, 0.1) 100%);
    color: var(--green);
    box-shadow: inset 0 0 10px rgba(27, 253, 156, 0.4), 0 0 9px 3px rgba(27, 253, 156, 0.1);  
}
.downloadCV:hover, .contactBtn:hover{
    color: #82ffc9;
  box-shadow: inset 0 0 10px rgba(27, 253, 156, 0.6), 0 0 9px 3px rgba(27, 253, 156, 0.2);
}
.downloadCV::before, .contactBtn::before{
    content: "";
    position: absolute;
    left: -4rem;
    width: 4rem;
    height: 100%;
    top: 0;
    transition: transform .4s ease-in-out;
    background: linear-gradient(to right, transparent 1%, rgba(27, 253, 156, 0.1) 40%,rgba(27, 253, 156, 0.1)60%, transparent 100%);
}
.downloadCV:hover::before, .contactBtn:hover::before{
    transform: translate(15rem);
}

.aboutmeImg{
    width: 100%;
    height: auto;
}
.stackSection{
    background-color: black;
    color: white;
}

.stackimg{
    background-color: white;
    border-radius: 40%;
    width: 20rem;
    height: auto;
    max-height: 15rem;
}
.github{
    background-color: gray;
    background-size:200px, 500px;
    border-radius: 35px;
}


.projectimg{
    width: 100%;
    height: auto;
}
.herokuimg{
    border-radius: 0;
    height: 75%;
    width: auto;
    max-width: 45%;
    aspect-ratio: 3/ 1;
}
.formDiv{
    width: 85%;
    max-width: 950px;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
}
textarea{
    height: 140px;
}
.contactForm input, .contactForm textarea{
    border: none;
    border-radius: 5px;
}
.contactForm input:focus, .contactForm textarea:focus{
    outline: none;
    box-shadow: 0 0 5px #ff6384;
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;

}
.form-check-input:checked{
    background-color: #ff6384;
}
.gdprBtnForm{
    border: none;
    padding-left: 3px;
    text-decoration: underline 1px black solid;
    align-self:self-end;
}
.btn_form_submit{
    background-color: #ff6384;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
}
.btn_form_submit:hover{
    color: #fff;
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}


.email{
    color: red;
}